*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F2F2F2;;

}
header{
    margin: 85px 32px 76px 32px;
}
.section--one{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header--title{
    font-style: normal;
    font-weight: 275;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.166667px;
    color: #4D4F62;
    text-align: center;
}
.span{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.166667px;
    color: #4D4F62;
    margin-bottom: 13px;
}
.header--text{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.104167px;
    color: #4D4F62;
    mix-blend-mode: normal;
    opacity: 0.5;
}
.card{
    width: 311px;
    height: 222px;
    padding: 28px;
    border-radius: 8px;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
    margin-bottom: 78px;
}
.card img{
    width: 57px;
    height: 57px;
}
.card--1{
    border-top: 5px solid #44D3D2;
    position: relative;
}
.card--title{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #4D4F62;
}
.card--text{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.0902778px;
    color: #4D4F62;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-bottom: 33px;
}
.icon--supervisor{
    position: absolute;
}
.card--2{
    position: relative;
    border-top: 5px solid #EA5454;
}
.icon--team-builder{
    position: absolute;
}
.card--3{
    border-top: 5px solid #FCAE4A;
    position: relative;
}
.icon--karma{
    position: absolute;
}
.card--4{
    position: relative;
    border-top: 5px solid #549EF2;
}
.icon--calculator{
    position: absolute;
}
.icon{
    right: 28px
}
@media (min-width: 1440px){
    header{
        width: 540px;
        height: 168px;
        margin: 80px auto 64px auto;
    }
    .header--title{
        font-size: 36px;
        line-height: 54px;
    }
    .span{
        font-size: 36px;
        line-height: 54px;
    }
    .header--text{
        font-size: 15px;
        line-height: 25px;
    }
    .cards{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }
    .card{
        width: 350px;
        height: 250px;
        padding: 32px;
    }
    .card img{
        width: 64px;
        height: 64px;
    }
    .icon{
        right: 32px
    }
    
}